@import '../../scss/_variables.scss';

$width-laptop: 1200px;

.map {
  margin-top: -23px;
  margin-bottom: 50px;
}

.contact {
  padding-bottom: 100px;

  .title {
    color: $title;
    @extend %title-font;
    font-size: 36px;
    line-height: 60px;
    max-width: 200px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    position: relative;

    @media (max-width: $width-laptop) {
      text-align: center;
      margin: 0 auto 25px;
      padding-bottom: 6px;
    }

    &::after {
      @extend %underline;
      width: 150px;
      height: 2px;

      @media (max-width: $width-laptop) {
        margin: 0 auto;
      }
    }
  }

  .content {
    padding-left: 290px;

    @media (max-width: $width-laptop) {
      max-width: 400px;
      padding: 0 15px;
      margin: 0 auto;
    }
  }

  .social {
    display: flex;
    margin-bottom: 30px;
    margin-left: -8px;

    @media (max-width: $width-laptop) {
      width: 100%;
      justify-content: space-around;
      margin: 0 0 20px 0;
    }
  }

  .socialItem {
    width: 40px;
    margin-right: 22px;
    transition: all 0.25s ease-in-out;

    @media (max-width: $width-laptop) {
      margin-right: 0;
    }

    &:hover {
      transform: translateY(-2px);
    }
  }

  .icon {
    width: 40px;
    padding: 8px;
  }

  .text {
    margin-bottom: 10px;
  }

  .phone {
    color: $default;
    opacity: 0.75;
    transition: opacity $duration ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  .city {
    margin-bottom: 16px;
  }

  .email {
    font-weight: 600;
    font-size: 14px;
    color: $title;
    margin-bottom: 22px;
    padding-left: 30px;
    display: inline-block;
    position: relative;

    opacity: 0.6;
    transition: opacity $duration ease-in-out;

    &:hover {
      opacity: 1;
    }

    img {
      position: absolute;
      top: 8px;
      left: 0;
      width: 16px;
      height: 12px;
    }
  }

  .inputs {
    display: flex;
    margin-bottom: 13px;

    @media (max-width: $width-laptop) {
      flex-direction: column;
      gap: 12px;
    }
  }

  .input {
    width: 100%;
  }

  .input+.input {
    margin-left: 13px;

    @media (max-width: $width-laptop) {
      margin-left: 0;
    }
  }

  .textarea {
    margin-bottom: 15px;
  }
}