@import '../../scss/_variables.scss';

.breadcrumbs {
  position: absolute;
  background: rgba($color: #dfdfdf, $alpha: 0.5);
  width: 100%;
  padding: 13px;
  z-index: 2;
  top: 115px;

  .list {
    display: flex;
  }

  .item {
    font-size: 14px;
  }

  .item::after {
    content: "/";
    color: $default;
    margin-right: 4px;
  }

  .item:last-child::after {
    display: none;
  }

  .link {
    color: $default;
  }
}

.bgDisabled {
  background: none;
}