@import '../../../scss/_variables.scss';

$width-laptop: 1500px;

.top {
  .inner {
    padding-bottom: 70px;
  }

  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dot {
    margin: 0 15px;
  }

  .button {
    background-color: $title;
    bottom: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    padding: 0;
    font-size: 0;
    cursor: pointer;
  }

  .active {
    background-color: #FFEF35;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  height: 720px;
  margin-bottom: 150px;

  @media (max-width: $width-laptop) {
    margin-bottom: 30px;
  }
}

.slide {
  position: relative;
  opacity: 1;
  transition: opacity 1.65s ease-in-out;

  .background {
    position: absolute;
    width: 100%;
    height: 720px;
    top: 0;
    z-index: -1;
  }

  .item {
    display: flex;
    justify-content: center;

    @media (max-width: $width-laptop) {
      flex-direction: column-reverse;
      align-items: center;
      padding: 0 25px;
    }
  }

  .img {
    margin: 80px 55px 0 -12%;
    max-width: 580px;
    height: 775px;
    object-fit: cover;
    border-radius: 22px;


    @media (max-width: $width-laptop) {
      // display: none;
      margin: 0;
      padding: 0;
      max-width: 585px;
      width: 100%;
      height: 350px;
    }
  }

  .info {
    max-width: 645px;
    margin-left: 25px;
    margin-top: 200px;


    @media (max-width: $width-laptop) {
      margin: 50px 0 40px;
      max-width: 585px;
    }
  }

  .title {
    color: $title;
    @extend %title-font;
    font-size: 110px;
    line-height: 135px;
    padding-bottom: 26px;
    margin-bottom: 26px;
    position: relative;

    &::after {
      @extend %underline;
      width: 185px;
    }

    @media (max-width: $width-laptop) {
      font-size: 64px;
      line-height: 72px;
      padding-bottom: 16px;
      margin-bottom: 26px;
    }

    @media (max-width: 500px) {
      font-size: 48px;
      line-height: 56px;
    }

    @media (max-width: 380px) {
      font-size: 36px;
      line-height: 42px;
    }
  }

  .text {
    max-width: 585px;

    @media (max-width: 380px) {
      font-size: 14px;
      line-height: 15px;
    }
  }
}

.invisible {
  position: absolute;
  transform: translateX(-200%);
  opacity: 0;
}